body {
  background-color: #000000;
  overflow-x: hidden;
}

/* Esconde a barra de scroll mas mantém a funcionalidade de scroll */
body::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* Para Firefox */
body {
  scrollbar-width: none;
}

/* Para IE e Edge antigo */
body {
  -ms-overflow-style: none;
}
